ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: right;
  font-size: 18px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



.nj
{
  text-align: center;
}
.yj
{
  color: grey;
}
.job
{
  text-align: center;
  font-size:  28px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
body
{
    background-image: linear-gradient(to bottom right, grey,white);
}
table, td, th {  
  border: 1px solid white;
  text-align: left;
  align-content: center;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 10px;
}

th, td {
  padding: 15px;
}
.hack
{
  font-size: 28px;
}
.hac
{
  font-size:20px; 
}
.target
{
  float: right;
}
footer
{
  text-align: center;
  display: block;
}